<!DOCTYPE html>
<html>


<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WelfareDanmarkProjectGroup9</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
    <title>Welfare Denmark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
    @*<link href="~/css/site.css" rel="stylesheet" />*@
    @*<link href="~/css/style.css" rel="stylesheet" />*@
    <link href="~/css/newstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="top">
        
        <div class="logo">
            logo
        </div>
        <!-- Search bar -->

        <div class="topnav">

            <input type="text" name="name" value="" placeholder="Search..." />
            <i class="fa fa-search"></i>
            <a href="#" class="button">Add patient</a>

        </div>


    </section>
    <!-- Sidebar -->
    <div class="sidebar">
        <ul>
            <li><div class="arrow-right"></div> <a href="@Url.Action("Index", "Home")" class="a_button"><img src="~/images/home.png" /></a></li>
            <li><a href="@Url.Action("Index", "User")" class="a_button"><img src="~/images/user.png" /></a></li>
            <li><a href="@Url.Action("Index", "Chat")" class="a_button"><img src="~/images/chat.png" /></a></li>
            <li><a href="#" class="a_button"><img src="~/images/calendar.png" /></a></li>
            <li><a href="#" class="a_button"><img src="~/images/reports.png" /></a></li>
        </ul>
    </div>



    <!-- Main content -->
    <div class="maincontent">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
