@{
    Layout = "_Layout";
}

<div class="sidebar">
    <ul>
        <li><a href="@Url.Action("Index", "Home")" class="a_button"><img src="~/images/home.png" /></a></li>
        <li> <a href="@Url.Action("Index", "Patient")" class="a_button"><img src="~/images/user.png" /></a></li>
        <li><a href="@Url.Action("Index", "Chat")" class="a_button"><img src="~/images/chat.png" /></a></li>
        <li><a href="@Url.Action("Index", "Calendar")" class="a_button"><img src="~/images/calendar.png" /></a></li>
        <li><div class="arrow-right"></div><a href="@Url.Action("Index", "Feedback")" class="a_button"><img src="~/images/reports.png" /></a></li>
    </ul>
</div>
<div class="maincontent">

</div>